body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  text-align: center;
}

li {
  line-height: 100%;
  padding: 10px;
  list-style-type: none;
  cursor: pointer;
}

li:nth-child(odd) {
   background-color: #ccc;
}

li:nth-child(even) {
  background-color: #eee;
}